---
layout: default
prism: true
---

<div class="bg-white min-h-screen
            pt-5 md:pt-15 lg:pt-15">
  <div class="container mx-4 md:mx-8 lg:mx-auto lg:max-w-6xl 
              min-h-screen 
              pt-10 md:pt-20 lg:pt-20
              pb-5 md:pb-10 lg:pb-10
              flex flex-col justify-center items-center">
        <h1 class="font-bold text-5xl">{{title}}</h1>
        <p class="text-center text-base leading-6 font-medium text-gray-500">
            <time> {{ date | readableDate }}
                by
                <a>{{ author }}</a>

            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto">
        {{ content | safe }}</article>

</div>